<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h5>
    <span class="text-muted"><%= @user.username %></span> account navigation
  </h5>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#info">Info</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#roles">Roles</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_owned_gadgets">Owned gadgets</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_posts">Posts</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_articles">Articles</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_images">Images</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_videos">Videos</a>
    </li>
  </ul>
</div>
