<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h5>
    Navigation for <span class="text-muted"> <%= current_user.username %>'s</span> cart
  </h5>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#cart">Cart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#items">Items</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#price">Price</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#message">Message</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#delivery">Delivery</a>
    </li>
  </ul>
</div>
