<div class="small">
  <h6 class="mb-3">
    Navigation for <span class="text-muted"><%= current_user.username %>'s</span> cart
  </h6>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link px-0" href="#cart"     data-cart-link>Cart</a></li>
    <li class="nav-item"><a class="nav-link px-0" href="#items"    data-cart-link>Items</a></li>
    <li class="nav-item"><a class="nav-link px-0" href="#price"    data-cart-link>Price</a></li>
    <li class="nav-item"><a class="nav-link px-0" href="#message"  data-cart-link>Message</a></li>
    <li class="nav-item"><a class="nav-link px-0" href="#delivery" data-cart-link>Delivery</a></li>
  </ul>
</div>
