<div class="fixed-right shadow bg-white p-4 pe-3 col-3 m-3 mt-5">
  
  <h5 class="text-center">
    Article <span class="text-muted"> <%= @article.name %></span>
  </h5>
  <br>

  <%= image_tag(@article.avatar.url, width: '420') if @article.avatar.present? %>
</div>
