<% provide :page_title, 'New Article' %>
<% currently_at 'Articles' %>

<div class="container pt-5 pb-5">

  <div class="bg-white shadow p-4 col-10">

    <h4 class="display-3">
      New Article
    </h4>

    <%= render 'form', article: @article %>

    <%= link_to 'Back', articles_path, class: 'text-decoration-none' %>
  </div>
</div>
