<% generation = Generation.new %>

<%= form_with(model: generation, html: { multipart: true }) do |form| %>

  <div class="row p-5 shadow bg-white mb-5">

    <%= form.label "Delete images for #{generation.title}", class: 'anchorjs-link display-6 mb-5', id: 'delete-images' %>
    <% generation.images.each_with_index do |image, index| %>
      <div class="mt-2 mb-1 col text-center">
        <%= image_tag(image.url, width: '100', class: 'rounded img-thumbnail shadow') %>
        <%= link_to "Delete", phone_image_path(@generation, index), method: :delete, data: { confirm: "Are you sure you want to delete this image?" }, class: 'btn btn-sm btn-danger' %>
      </div>
    <% end %>
  </div>
<% end %>
