<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h5>
    Navigation <span class="text-muted">article <%= @quiz_question.content %></span>
  </h5>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#name">Name</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#content">Content</a>
    </li>
  </ul>
</div>
