<div class="fixed-right nav-scroll shadow bg-white col-3 mx-3 mt-5">

  <div id="new-phone-title" class="show-nav-header shadow bg-white py-4">
    <div>
      <%= render partial: 'phones/new_phone_partials/new_phone_title_show' %>
    </div>
  </div>
  <br>

  <div id="new-phone-info" class="mb-5 px-4 text-muted">
    <%= render partial: 'phones/new_phone_partials/new_phone_default_content' %>
  </div>
</div>
