<% phone = Phone.new %>

<%= form_with(model: phone, html: { multipart: true }) do |form| %>

  <div class="row p-5 shadow bg-white mb-5">

    <%= form.label 'iPhone generation', class: 'display-6 mb-5 text-decoration-none text-muted' %><br>

    <div class="form-check form-switch">
      <%= form.collection_radio_buttons(:generation_id, Generation.order(:title), :id, :title) do |generation| %>
        <%= generation.label { generation.radio_button(class: 'form-check-input') + generation.text } %><br>
      <% end %>
    </div>
  </div>
<% end %>
