<div class="fixed-left nav-scroll shadow bg-white col-2 mx-3 mt-5">

  <div class="show-nav-header shadow bg-white py-4 text-center">
    <h4>
      <span class="text-muted display-6">
        Navigation
      </span><br>
      <i class="fas fa-2x fa-route text-muted pt-4"></i>
    </h4>
  </div>
  <br>

  <div class="ps-4">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link text-muted" href="#photos">Photos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-muted" href="#overview">Overview</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-muted" href="#videos">Videos</a>
      </li>
    </ul>
  </div>
</div>
