<% @generation = Generation.find(params[:id]) %>

<h4 class="text-center">
  <span class="text-muted display-6">
    <%= @generation.title %> info
  </span>
  <br>

  <i class="fas fa-2x fa-info text-muted pt-4"></i>
</h4>
