<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h4>
    Navigation <span class="text-muted"><%= @airpod.title %></span>
  </h4>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#gadget">Gadget</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#photos">Photos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#overview">Overview</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#videos">Videos</a>
    </li>
  </ul>
</div>
