<% provide :page_title, 'New AirPod' %>
<% currently_at 'AirPods' %>

<div class="container pt-5 pb-5">

  <div class="bg-white shadow p-4 col-10">

    <h4 class="display-3">
      New AirPod
    </h4>

    <%= render 'form', airpod: @airpod %>

    <%= link_to 'Back', airpods_path, class: 'text-decoration-none' %>
  </div>
</div>
