<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h4>
    Navigation for <span class="text-muted"><%= @user.username %></span> gadget
  </h4>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#user_id">Owner</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#phone_id">Gadget name</a>
    </li>
  </ul>
</div>
