<div class="fixed-left nav-scroll shadow bg-white p-4 col-2 m-3 mt-5">

  <h5>
    Navigation <span class="text-muted">chapter <%= @chapter.title %></span>
  </h5>
  <br>

  <ul class="nav flex-column">

    <li class="nav-item">
      <a class="nav-link text-muted" href="#chapter">Chapter</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#title">Title</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#spare_parts">Spare parts</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#description">Description</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#photos">Photos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-muted" href="#videos">Videos</a>
    </li>
  </ul>
</div>
