<div class="fixed-right shadow bg-white p-4 pe-3 col-3 m-3 mt-5">
  <h5 class="text-center">
    Post title <span class="text-muted"> <%= @post.title %></span>
  </h5>
  <br>

  <%= image_tag(@post.avatar.url, width: '420') if @post.avatar.present? %>
</div>
