<div class="fixed-right shadow bg-white p-4 pe-3 col-3 m-3 mt-5">
  <h5 class="text-center">
    Photo <span class="text-muted">spare part <%= @spare_part.name %></span>
  </h5>
  <br>

  <%= image_tag(@spare_part.avatar.url, width: '420') if @spare_part.avatar.present? %>
</div>
