<div class="fixed-right shadow bg-white p-4 pe-3 col-3 m-3 mt-5">
  <h5 class="text-center">
    About <span class="text-muted"> <%= @university.title %> university</span>
  </h5>
  <br>

  <%= image_tag(@university.avatar.url, width: '420') if @university.avatar.present? %>
</div>
