<% provide :page_title, 'New University' %>
<% currently_at 'New University' %>

<div class="container pt-5 pb-5">

  <div class="bg-white shadow p-4 col-10">

    <h4 class="display-3">New University</h4>

    <%= render 'form', university: @university %>

    <%= link_to 'Back', universities_path, class: 'text-decoration-none' %>
  </div>
</div>
