<div class="fixed-right nav-scroll shadow bg-white col-3 mx-3 mt-5">

  <div id="new-generation-title" class="show-nav-header shadow bg-white py-4">
    <div>
      <%= render partial: 'generations/new_generation_partials/new_generation_title_show' %>
    </div>
  </div>
  <br>

  <div id="new-generation-info" class="mb-5 px-4 text-muted">
    <%= render partial: 'generations/new_generation_partials/new_generation_default_content' %>
  </div>
</div>
